extends layout

block head
  link(rel="stylesheet", media='screen', href='/stylesheets/barista.css')

block content
  script#orderTemplate(type="text/html").
    <div id="order-{{id}}" data-order-id="{{id}}" class="order status-{{status}}">
      <p class="span6 drink">
        <strong class="coffee-strength">{{strength}}</strong>
        <strong class="coffee-type">{{drinkType}}</strong>
        <br>with
        <strong>{{milk}}</strong>
        milk for
        <strong>{{name}}</strong>
      </p>
      <div class="span6 order-action-buttons">
        <button data-action-type="complete" class="mark-as-done btn btn-success btn-large"><i class="icon-ok-sign icon-large"></i>&nbsp;Done!</button>
        <button data-action-type="start" class="mark-as-started btn btn-primary btn-large"><i class="icon-play icon-large"></i>&nbsp;Start!</button>
        <button data-action-type="abort" class="mark-as-aborted btn btn-warning btn-large"><i class="icon-exclamation-sign icon-large"></i>&nbsp;Problem!</button>
      </div>
    </div>
  .container.xrow
    .row
      .span6
        h1.text-left C.O.F.F.E.E
      .span6
        h3.text-right Barista View
    .row
      .span12 Number of orders:&nbsp;&nbsp;
        strong
          span#orderCount
  #order-info-container.scroll-y.content.xrow
    mixin barista-view(baristaNumber)
      div(class="barista-container barista-count-#{numberOfBaristas}",id="barista#{baristaNumber}",data-barista-id="#{baristaNumber}")
        .container
          .row
            .span12
              h3.barista-title Barista ##{baristaNumber + 1}
          .row
            .no-orders.hide
              .span12
                h4 Nothing for you to make at the moment...
            .orders
    - for(var i=0;i<numberOfBaristas;i++)
      mixin barista-view(i)

block late-scripts
  script(src="/js/ICanHaz.min.js")
  script(src="/js/barista.js")
  script
    COFFEE.barista.init(#{numberOfBaristas});