extends layout

block head
  //- link(rel="stylesheet", media='screen', href='/stylesheets/report.css')

block content
  .container
    .row
      .span12
        h1 C.O.F.F.E.E
        h2 Overview
        h4 Total Orders: #{totalCount} (#{todayCount} today)
    .row
      .span12
        mixin pagination
          != paginate(totalCount, pageSize, page, {"add_args":additionalArgsForPagination})
        mixin pagination
        table.table.table-bordered.report-table
          thead: tr
            th Name
            th Contact Info
            th Status
            th Drink
            th Date
            th Order Id
          mixin orderRow(order)
            td #{order.customer.firstName} #{order.customer.lastName}
            td
              if (order.hasValidEmailAddress())
                a(href="mailto:#{order.contactInfo}", target="blank") #{order.contactInfo}
              else if (order.hasValidCellPhone())
                span.phoneNumber #{order.contactInfo}
              else
                span #{order.contactInfo}
            td #{order.status}
              if (order.status === "assigned" || order.status === "in-production")
                span &nbsp;(#{order.assignee + 1}) 
            - var drink = order.drinks[0]
            td #{strengthTypes[drink.strength]} #{drinkTypes[drink.drinkType]} with #{milkTypes[drink.milk]} milk
              - var shortInstructions = drink.specialInstructions
              - var limit = 30
              if drink.specialInstructions
                - if (drink.specialInstructions.length > limit) shortInstructions = drink.specialInstructions.substring(0,limit - 3) + '...'                 
                br
                span(title="#{drink.specialInstructions}"): em #{shortInstructions}
            td #{order.date}
            td #{order._id}
          tbody
            each order in orders
              case order.status
                when "complete"
                  tr.success
                    mixin orderRow(order)
                when "aborted"
                  tr.error
                    mixin orderRow(order)
                when "in-production"
                  tr.warning
                    mixin orderRow(order)
                when "assigned"
                  tr.info
                    mixin orderRow(order)
                default: tr
                    mixin orderRow(order)
        mixin pagination

block late-scripts
  script.
    $(".phoneNumber").renderUSPhoneNumber();